#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

/*
* --------------------------------------------------
* General style
* --------------------------------------------------
*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root{

}
canvas{
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}